#title{background-color: #ff4c68;
}
.navbar-brand{padding-left: 50px;}

h1{font-family: "Montserrat-Black";
font-size: 3rem;
line-height: 1.5;
font-weight: 900;
color:white;}

.container-fluid{
  padding: 3% 15%;
  margin-left: 30rem;
}





h2{font-family:"Montserrat-Bold"; color: white;
font-size:2rem;
line-height: 1.5;
font-weight: 900;}

h3{font-weight: bold;}
.feature-box{ }
p{color: grey;}

#features{padding: 7% 15%;
text-align: center;}

.icon{color:red;
margin-bottom: 1rem;}
.icon:hover{color: pink;}
.dog{position: relative;
  left:200px;}

#testimonials{
text-align: center;
background-color: #ef8172}

.testimonial-image{border-radius: 100%;}

#press{background-color:#ef8172 ;
  text-align:center;
padding: 3%;}

.press-image{
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item{padding : 7% 15%;}

#pricing{
  padding: 100px;
}

@media (max-width:1000px)
{ #title{text-align:center;}

  .dog{position:static;}
  .cal{padding: 7% 15%;}
}


#cta{color: white;
background-color:#ef8172;
padding: 7% 15%;}

.cta-heading{color: white;
font-family:"Montserrat-Black";
font-size: 3rem;
line-height: 1.5;
}

#footer{ padding: 7% 15%;
  text-align: center;}
